@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
}
footer{
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1, h2, h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

h4, h5, h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}
.content-default{
    padding: 20px;
}
.content-space--default{
    margin: 2px;
    border-radius: 5px;
}
.content-flex{
    display: flex;
}
.content-flexgrid{
    display: grid;   
}
.content-flex--direction{
    flex-direction: row;
}
.content-flex--reverse{
    flex-direction:row-reverse;
}
.text-center{
    text-align: center;
}

.content-justify{
    justify-content: center;
}
.content-justify-between{
    justify-content: space-between;
}
.content-align{
    align-items: flex-start;
}
.bg-color--purple{
    background-color: #993399;
    color: #fff;
}
.bg-color--yellow{
    background-color: #FFFF66;
    color: #808080;
}
.bg-color--pink{
    background-color: #FFC0CB;
    color: #505050;
}
.bg-color--blue{
    background-color: #0085ff;
    color: #fff;
}

/* flex wrap */
.flex-wrap{
    flex:1;
    margin: 2px;
    width: 33%;
    justify-content: center;
}
.flex-wrap--fluid{
    flex:1;
    margin: 2px;
    width: 33%;
    justify-content: center;
}

/* flex-item */
.flex-item--1{
    flex: 1;
    margin: 2px;
}
.flex-item--2{
    flex: 2;
    margin: 2px;
}
.flex-item--3{
    flex: 3;
    margin: 2px;
}

/* paralax */
.container-paralax{
    height: 100vh;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.content-paralex--data{
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bg-img--versions--1{
    background-image: url('https://i.pinimg.com/564x/bf/72/73/bf7273ec1e182879526afc62ed20752d.jpg');
}
.bg-img--versions--2{
    background-image: url('https://i.pinimg.com/236x/9e/0b/ea/9e0bead117e906208cf092d471ee3244.jpg');
}
.bg-img--versions--3{
    background-image: url('https://i.pinimg.com/564x/73/f6/a4/73f6a4d8b7d0715b22e537c5a78484c4.jpg');
}
.content-left--main i{
    font-size: 20px;
}
.content-left--main i{
    color: #fff;
}
.content-left--main{
    position: fixed;
    display: grid;
    left: 0;
    top:30%;
    background:rgba(52, 23, 194, 0.8);
    padding: 5px 10px;
    border-radius: 0 15px 15px 0;
    -webkit-box-shadow: 13px 9px 13px -5px rgba(0,0,0,0.49);
    -moz-box-shadow: 13px 9px 13px -5px rgba(0,0,0,0.49);
    box-shadow: 13px 9px 13px -5px rgba(0,0,0,0.49);
}
.content-top--buttom i{
    font-size: 25px;
    color: #fff;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: hotpink;
    border-radius: 100px;
    text-align: center;
    transition: 1s;
}
.content-top--buttom:hover i{
    background-color: green;
    transition: 1s;
}